@media (max-width: 1320px) {
    .container {
        padding: 0 50px;
    }

    .header {
        background-color: var(--white);
        box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
        height: 100px;
    }


    .header__container {
        justify-content: space-between;
        align-items: center;
        padding: 33px 47px;
    }

    .burger-btn {
        position: relative;
        display: block;
        width: 30px;
        height: 23px;
    }

    .burger-btn:focus {
        outline: 2px solid var(--dark-orange);
    }

    .burger-btn__line {
        position: absolute;
        left: 50%;
        width: 30px;
        height: 3px;
        background-color: var(--bright-dark);
        transform: translateX(-50%);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
    }

    .burger-btn__line:nth-child(2) {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .burger-btn__line:first-child {
        top: 20px;
    }

    .burger-btn__line:last-child {
        bottom: 20px;
    }

    .burger-btn--active .burger__line:first-child {
        top: 50%;
        left: 25%;
        background-color: var(--dark-orange);
    }

    .burger-btn--active .burger__line:last-child {
        bottom: auto;
        top: 50%;
        left: 25%;
        background-color: var(--dark-orange);
    }

    .header__logo {
        width: 150px;
        height: 48px;
        margin-right: 0;
    }

    .header__nav-list {
        display: none;
    }

    .brief-information {
        margin-bottom: 84px;
    }

    .brief-information__content {
        padding: 160px 77px;
        min-height: 668px;
        background-image: url('../img/pic-1_1024px.png');
    }

    .main__headline {
        max-width: 770px;
        font-size: 60px;
        line-height: 73px;
    }

    .main__description {
        max-width: 660px;
        margin-bottom: 60px;
        font-size: 20px;
        line-height: 24px;
    }

    .about-us {
        margin-bottom: 90px;
    }

    .about-us__headline {
        margin-bottom: 3px;
    }

    .about-us__description {
        margin-bottom: 64px;
    }

    .about-us__cards-part {
        width: 100%;
        margin-bottom: 32px;
    }

    .about-us__cards-part:last-child {
        margin-bottom: 0;
    }

    .about-us__card-big {
        height: 100%;
        margin-bottom: 48%;
    }

    .about-us__card-small {
        padding: 70px 8% 61px 35%;
        border: 1px solid lightgray;
        background-repeat: no-repeat;
    }

    .left-side__description {
        width: 437px;
        margin-bottom: 42px;
    }

    .how-we-work {
        margin-bottom: 97px;
    }

    .how-we-work__list {
        margin-bottom: 55px;
    }

    .left-side {
        margin-right: 35px;
    }

    .right-side__img {
        height: 103%;
        background-image: url('../img/how-we-work_small.png');
    }

    .question__heading {
        padding: 32px 42px 7px 0;
        font-size: 20px;
    }

    .footer__wrapper {
        padding: 46px 45px;
    }

    .footer__nav-item {
        line-height: 35px;
    }

    .footer__left {
        flex-basis: 38%;
    }

    .form-wrapper {
        margin-right: 0;
    }

    .form-wrapper__btn {
        padding: 20px 39px;
        margin-right: 13px;
    }

    .footer-description__description-text {
        display: none;
    }
}

@media (max-width: 992px) {
    .header__container {
        padding: 43px 47px;
    }

    .brief-information {
        margin-bottom: 74px;
    }

    .brief-information__content {
        padding: 160px 40px;
    }

    .main__headline {
        margin-bottom: 15px;
        width: 588px;
        font-size: 50px;
        line-height: 61px;
    }

    .main__description {
        width: 588px;
        font-size: 18px;
        line-height: 22px;
    }

    .about-us {
        margin-bottom: 80px;
    }

    .about-us__description {
        margin-bottom: 60px;
    }

    .about-us__card-big {
        height: 126%;
    }

    .about-us__cards-part {
        margin-bottom: 24%;
    }

    .about-us__card-big-description {
        padding: 38px 42px;
    }

    .about-us__card-small {
        padding: 41px 7% 34px 25%;
    }

    .about-us__cards-headline {
        width: 452px;
        font-size: 24px;
        line-height: 29px;
    }

    .about-us__card-description {
        width: 450px;
        font-size: 16px;
        line-height: 31px;
    }

    .about-us__card-small_consult, .about-us__card-small_other {
        background-position: 8% 53%;
        background-size: 16%;
    }

    .how-we-work__list {
        margin-bottom: 50px;
    }

    .link-list__item {
        margin-right: 23.5%;
    }

    .how-we-work__slider {
        flex-direction: column-reverse;
    }

    .left-side__description {
        width: 104%;
        margin-bottom: 47px;
    }

    .right-side {
        padding: 0;
        margin-bottom: 35px;
        width: 100%;
        min-height: 100%;
    }

    .right-side__img {
        width: 100%;
        min-height: 284px;
        background-image: url('../img/768-how-we-work.jpg');
    }

    .frequent-questions {
        margin-bottom: 9px;
    }

    .question__heading {
        padding: 30px 42px 0 0;
    }

    .content {
        padding-top: 30px;
        padding-bottom: 17px;
    }

    .footer__wrapper {
        padding: 50px 50px;
        flex-direction: column-reverse;
    }

    .footer__nav {
        display: none;
    }

    .top-part {
        margin-bottom: 50px;
    }

    .bottom-part {
        margin-right: 0;
    }

    .footer-description {
        display: none;
    }

    .inputs-wrapper {
        width: 80%;
    }
}