@media (max-width: 1320px) {
    .container {
        padding: 0 50px;
    }

    .header {
        background-color: var(--white);
        box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
        height: 100px;
    }


    .header__container {
        justify-content: space-between;
        align-items: center;
        padding: 33px 47px;
    }

    .burger-btn {
        position: relative;
        display: block;
        width: 30px;
        height: 23px;
    }

    .burger-btn:focus {
        outline: 2px solid var(--dark-orange);
    }

    .burger-btn__line {
        position: absolute;
        left: 50%;
        width: 30px;
        height: 3px;
        background-color: var(--bright-dark);
        transform: translateX(-50%);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
    }

    .burger-btn__line:nth-child(2) {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .burger-btn__line:first-child {
        top: 20px;
    }

    .burger-btn__line:last-child {
        bottom: 20px;
    }

    .burger-btn--active .burger__line:first-child {
        top: 50%;
        left: 25%;
        background-color: var(--dark-orange);
    }

    .burger-btn--active .burger__line:last-child {
        bottom: auto;
        top: 50%;
        left: 25%;
        background-color: var(--dark-orange);
    }

    .header__logo {
        width: 150px;
        height: 48px;
        margin-right: 0;
    }

    .header__nav-list {
        display: none;
    }

    .brief-information__content {
        padding: 150px 77px;
        min-height: 668px;
    }

    .main__headline {
        max-width: 770px;
        font-size: 60px;
        line-height: 73px;
    }

    .main__description {
        max-width: 660px;
        margin-bottom: 60px;
        font-size: 20px;
        line-height: 24px;
    }


    .about-us__cards-part {
        width: 100%;
        margin-bottom: 32px;
    }

    .about-us__cards-part:last-child {
        margin-bottom: 0;
    }

    .about-us__card-big {
        height: 100%;
        margin-bottom: 48%;
    }

    .how-we-work {
        margin-bottom: 204px;
    }

    .footer__wrapper {
        padding: 61px 45px;
    }

    .footer__nav-item {
        line-height: 35px;
    }

    .footer__left {
        flex-basis: 38%;
    }

    .form-wrapper {
        margin-right: 0;
    }

    .form-wrapper__btn {
        padding: 20px 39px;
        margin-right: 13px;
    }

    .footer-description__description-text {
        display: none;
    }
}

@media (max-width: 992px) {

}