html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

:root {
    --FF9900: #FF9900;
    --333: #333;
    --fff: #fff;
    --000: #000;
    --222: #222;
    --cacaca: #cacaca;
    --414141: #414141;
    --E1670E: #E1670E;
    --666: #666;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-semibold-webfont.woff') format('woff');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-extrabold-webfont.woff') format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

/*global*/
.section-offset {
    margin-bottom: 100px;
}

.headline-offset, .text-offset {
    margin: 0;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

body {
    min-width: 320px;
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1844px;
    padding: 0 37px;
    margin: 0 auto;
}

.btn {
    background-color: var(--FF9900);
    color: var(--fff);
}

/*header*/
.header {
    background-color: var(--fff);
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
    padding: 14px 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-list {
    margin-right: 76px;
}

.header__list-item {
    margin-right: 85px;
}

.header__list-item:last-child {
    margin-right: 0;
}

.header__item-link {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: var(--333);
    border-bottom-color: transparent;
    transition: border-bottom-color 0.2s ease-in-out;
}

.header__item-link:hover {
    border-bottom: 2px solid var(--FF9900);
}

.header__item-link:focus {
    outline: 2px solid var(--FF9900);
}

.header__item-link:active {
    color: var(--E1670E);
    outline: none;
    border-bottom: 2px solid var(--E1670E);
}

.search-icon rect {
    transition: fill 0.2s ease-in-out;
}

.search-icon path {
    transition: stroke 0.2s ease-in-out;
}

.search-icon:hover rect {
    fill: var(--FF9900);
}

.search-icon:hover path {
    stroke: var(--FF9900);
}

.search-icon:active {
    outline: 1px solid var(--FF9900);
}


/*brief information*/
.brief-information__content {
    padding: 100px 100px 100px 80px;
    min-height: 619px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--333);
}

.main__headline {
    margin: 0 0 24px 0;
    max-width: 837px;
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    color: var(--fff);
}

.main__description {
    margin-bottom: 90px;
    max-width: 790px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--fff);
}

.main__btn {
    padding: 23px 35px;
    font-size: 24px;
    font-weight: 700;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.main__btn:hover, .main__btn:focus, .left-side__btn:hover, .left-side__btn:focus, .form-wrapper__btn:hover, .form-wrapper__btn:focus {
    background-color: #FFB52A;
}

.main__btn:active, .left-side__btn:active, .form-wrapper__btn:active {
    background-color: var(--E1670E);
}

/*about us*/
.about-us__headline {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: var(--333);
}

.about-us__description {
    margin-bottom: 50px;
    max-width: 1235px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--333);
}

.about-us__cards-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-us__cards-part {
    /*
    Здесь мы высчитываем проценты относительно ширины родительского блока.
    1770 - это ширина родительского блока на десктопном макете, или внутренняя ширина container
    870 - это то число в пикселях, которое должно получиться с помощью процентов при ширине родительского блока 1770 пикселей
    870 / 1770 * 100% = 49.15254237288136%
    Если поэксперементировать и задать это значение в процентах для about__cards-part то мы получим тех же 870 пикселях, но при уменьшении ширины родительского блока пропоционально уменьшится и ширина about__cards-part
    */
    width: calc(870 / 1770 * 100%);
}

.about-us__card-big {
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-us__card-big_more {
    background-image: url("../img/worker.png");
}

.about-us__card-big-description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 47px 50px;
    color: var(--fff);
    background-color: rgba(0, 0, 0, 0.6);
}

.about-us__card-big-text {
    width: 454px;
    margin-right: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: var(--fff);
}

.about-us__card-big-btn {
    padding: 20px 38px;
    margin-left: auto;
    background-color: transparent;
    border: 2px solid var(--FF9900);
    transition: background-color 0.2s ease-in-out;
    font-weight: 700;
}

.about-us__card-big-btn:hover, .about-us__card-big-btn:focus {
    background-color: var(--FF9900);
}

.about-us__card-big-btn:active {
    background-color: var(--E1670E);
}

.about-us__card-small {
    padding: 65px 7% 65px 35%;
    border: 1px solid lightgray;
    background-repeat: no-repeat;
}

.about-us__card-small:not(:last-child) {
    margin-bottom: 32px;
}

.about-us__cards-headline {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--333);
}

.about-us__card-description {
    /*width: 400px;*/
    width: 92%;
    font-size: 16px;
    line-height: 31px;
    color: var(--333);
}

.about-us__card-small_consult {
    background-image: url("../img/box.svg");
    background-position: 9% 53%;
    background-size: 22%;
}

.about-us__card-small_other {
    background-image: url("../img/cog.svg");
    background-position: 9% 53%;
    background-size: 22%;
}

/*how we work*/
.how-we-work__slider {
    justify-content: space-between;
}

.how-we-work__headline {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: var(--333);
}

.how-we-work__list {
    margin-bottom: 50px;
}

.link-list__item {
    margin-right: 85px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--333);
}

.link-list__item:last-child {
    margin-right: 0;
}

.link-list__item-link {
    outline: none;
    transition: color 0.2s ease-in-out, outline 0.2s ease-in-out;
}

.link-list__item-link:hover {
    color: var(--FF9900);
}

.link-list__item-link:focus {
    outline: 2px solid var(--FF9900);
}

.link-list__item-link:active {
    outline: none;
    color: var(--E1670E);
}

.left-side__headline {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--333);
}

.left-side__description {
    margin-bottom: 50px;
    max-width: 758px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--333);
}

.left-side__btn {
    padding: 20px 40px;
    margin-right: 32px;
    font-weight: 700;
    transition: background-color 0.2s ease-in-out;
}

.left-side__btn-transparent {
    font-weight: 400;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.left-side__btn-transparent:hover, .left-side__btn-transparent:focus {
    background-color: var(--666);
    color: var(--fff);
}

.left-side__btn-transparent:active {
    background-color: var(--000);
    color: var(--fff);
}

.left-side__btn:last-child {
    margin-right: 0;
}

.left-side__btn-transparent {
    padding: 19px 36px;
    background-color: transparent;
    border: 1px solid var(--333);
    font-size: 16px;
    line-height: 20px;
    color: var(--333);
}

.right-side {
    min-width: 865px;
    min-height: 460px;
    background-size: cover;
    background-repeat: no-repeat;
}

/*frequent questions*/
.frequent-questions__headline {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: var(--333);
}

.questions {
    padding: 0;
    list-style: none;
}

.questions__item:first-child {
    border-top: 1px solid var(--cacaca);
}

.questions__item {
    width: 100%;
    margin-top: -1px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid lightgray;
    transition: border-color .3s ease;
}

.questions__item-heading {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding: 40px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--333);
    cursor: pointer;
    transition: color .3s ease;
}

.slash {
    color: var(--cacaca);
}

.text {
    margin-top: 0;
    margin-bottom: 20px;
}

.questions__item:first-child:hover,
.questions__item:hover,
.questions__item:focus-within {
    border-color: var(--FF9900);
}

.head-icon {
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ececec;
    transform: translateY(-50%);
    transition: background-color .3s, .6s ease, transform .3s, .6s ease;
}

.head-icon::before,
.head-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--000);
    transition: background-color, .3s ease;
}

.head-icon::before {
    width: 31px;
    height: 1px;
}

.head-icon::after {
    width: 1px;
    height: 31px;
}

.questions__item-heading:hover,
.questions__item-heading:focus {
    color: var(--FF9900);
    outline: none;
}

.questions__item-heading:hover .head-icon,
.questions__item-heading:focus .head-icon {
    background-color: var(--FF9900);
}

.questions__item-heading:hover .head-icon::before,
.questions__item-heading:hover .head-icon::after,
.questions__item-heading:focus .head-icon::before,
.questions__item-heading:focus .head-icon::after {
    background-color: var(--fff);
}

.heading.ui-accordion-header-active .head-icon {
    transform: translateY(-50%) rotate(45deg);
}

/*footer*/
.footer {
    background-color: var(--222);
}

.footer__wrapper {
    justify-content: space-between;
    padding: 50px 40px;
}

.footer__left {
    flex-basis: 21%;
}

.logo-link-container__img {
    margin-bottom: 20px;
}

.footer__nav-list {
    margin-bottom: 83px;
}

.footer__nav-item {
    max-width: 254px;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: var(--cacaca);
}

.footer__nav-link {
    transition: color 0.2s ease-in-out, outline 0.2s ease-in-out;
}

.footer__nav-link:hover {
    color: var(--FF9900);
}

.footer__nav-link:focus {
    outline: 2px solid var(--FF9900);
}

.footer__nav-link:active {
    outline: none;
    color: var(--E1670E);
}

.social-icons path {
    transition: fill 0.2s ease-in-out;
}

.social-icons:hover path {
    fill: var(--FF9900);
}

.social-icons-wrapper__link {
    margin-right: 25px;
    transition: outline 0.2s ease-in-out;
    cursor: pointer;
}

.social-icons-wrapper__link:focus {
    outline: 2px solid var(--FF9900);
}

.social-icons-wrapper__link:last-child {
    margin-right: 0;
}

.footer__center-container {
    flex-basis: 100%;
}

.form-wrapper__headline {
    max-width: 408px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: var(--cacaca);
}

.input-properties {
    min-width: 100%;
    padding: 14px 24px;
    display: block;
    margin-bottom: 25px;
    color: var(--cacaca);
    background-color: var(--414141);
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.input-properties:hover, .input-properties:focus {
    background-color: var(--666);
}

.input-properties:active {
    color: var(--fff);
}

::placeholder:active {
    color: var(--fff);
}

::placeholder {
    color: var(--cacaca);
}

.input-properties:last-child {
    margin-bottom: 0;
}

.input-name, .input-email {
    min-height: 60px;
}

.input-message {
    min-height: 150px;
    margin-bottom: 32px;
}

.form-wrapper__btn {
    padding: 18px 52px;
    margin-right: 22px;
    transition: background-color 0.2s ease-in-out;
}


.form-wrapper__personal-date {
    color: var(--cacaca);
}

.footer-description {
    padding-top: 85px;
}

.footer-description__description-text {
    max-width: 363px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--cacaca);
}